SHOW

<%= @user.username %>

<p> Tours I'm hosting </p>

<%= link_to "Host new Itinerary", new_itinerary_path %>

<ul>
	<% @user.host_itineraries.each do |itinerary| %>
	<li> <%= itinerary.name %> </li>
	<% end %>
</ul>

<p> Tours I'm going on </p>
<ul>
	<% @user.guest_itineraries.each do |itinerary| %>
	<li> <%= itinerary.name %> </li>
	<% end %>
</ul>