<p>
  <% if user_signed_in? %>
    <%= link_to "sign out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "sign in with facebook", user_facebook_omniauth_authorize_path %>
  <% end %> 
</p>